.div-wrapper > div {
  display: flex;
}

img {
  width: 50px;
  height: 65.5px;
  margin: 10px;
}

h1 {
  align-self: flex-end;
  margin-left: 20px;
  font-size: 2em;
  font-family: 'Handlee', cursive;
  color: #767676;
  text-transform: capitalize;
}

button {
  align-self: center;
  margin-left: 30px;
  font-size: 1em;
  padding: 10px 15px;
  border: 1px solid #767676;
  border-radius: 4px;
  box-shadow: 0px 1px 4px #767676;
  outline: none;
  cursor: pointer;
}

button:hover {
  background: #E7E7E7;
}

button:active {
  background: #767676;
}

.user-login {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-right: 10px;
  text-align: right;
}

.user-login > p {
  margin-bottom: 5px;
  color: #767676;
}