<div class="row" [formGroup]="addCourseForm" *ngIf="addCourseForm.get('authors')">
  <label>Authors</label>
  <div class="authors" [class.invalid]="!addCourseForm.get('authors').valid">
    <div *ngFor="let author of authors; let i = index;">
      <input type="checkbox" id="{{ author.id }}" [attr.checked]="isChecked(author)" (change)="toggleCheckbox(author)" />
      <label attr.for="{{ author.id }}">{{ author.name }}</label>
    </div>
  </div>
  <small class="error-text" *ngIf="showErrorMessage()">
    At least one author must be selected!
  </small>
</div>
