<div class="row" [formGroup]="addCourseForm">
  <label>Date</label>
  <input formControlName="date" [ngClass]="{'red-border': addCourseForm.get('date').errors}" (keyup)="onType(addCourseForm.get('date').value)" value="{{ resetData ? null : addCourseForm.get('date').value }}"/>
  <small class="error-text"
    *ngIf="addCourseForm.get('date').touched &&
    addCourseForm.get('date').hasError('required')">
      Date is required!
  </small>
  <small class="error-text"
    *ngIf="addCourseForm.get('date').touched &&
    !addCourseForm.get('date').hasError('required') &&
    addCourseForm.get('date').hasError('message')">
      {{ addCourseForm.get('date').errors.message }}
  </small>
</div>
