<div class='fill-height'>
  <form [formGroup]='addCourseForm' (ngSubmit)='onSubmit(addCourseForm)'>
    <div class='row'>
      <label>Title</label>
      <input formControlName='title' [ngClass]='{"red-border": addCourseForm.get("title").errors}' />
      <div class='error-text'
        *ngIf='addCourseForm.get("title").touched &&
        addCourseForm.get("title").hasError("required")'>
          Title is required!
      </div>
      <div class='error-text'
        *ngIf='addCourseForm.get("title").touched &&
        !addCourseForm.get("title").hasError("required") &&
        addCourseForm.controls.title.invalid'>
          Title must be no longer than 50 symbols!
      </div>
    </div>
      <div class='row'>
      <label>Description</label>
      <textarea formControlName='description' ></textarea>
      <div class='error-text'
        *ngIf='addCourseForm.get("description").touched &&
        addCourseForm.get("description").hasError("required")'>
        Description is required!
      </div>
      <div class='error-text'
        *ngIf='addCourseForm.get("description").touched &&
        !addCourseForm.get("description").hasError("required") &&
        addCourseForm.controls.description.invalid'>
          Description must be no longer than 500 symbols!
      </div>
    </div>
    <app-date-input [date]='date' (type)='onType($event)'></app-date-input>
    <app-duration-input [duration]='duration' (type)='onType($event)'></app-duration-input>
    <app-authors-component></app-authors-component>
    <div class='buttons-block'>
      <button type='reset' class='button button-cancel' (click)='{}'>Cancel</button>
      <button type='submit' class='button' [disabled]='addCourseForm.invalid' (click)='{}'>Save</button>
    </div>
  </form>
</div>
