<div class="fill-height">
  <form [formGroup]="addCourseForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <label>Title</label>
      <input formControlName="title" [ngClass]="{'red-border': addCourseForm.controls.title.errors}" [value]="course ? course.name : null" />
      <small class="error-text"
        *ngIf="addCourseForm.controls.title.touched &&
        addCourseForm.controls.title.hasError('required')">
          Title is required!
      </small>
      <small class="error-text"
        *ngIf="addCourseForm.controls.title.touched &&
        !addCourseForm.controls.title.hasError('required') &&
        addCourseForm.controls.title.invalid">
          Title must be no longer than 50 symbols!
      </small>
    </div>
    <div class="row">
      <label>Description</label>
      <textarea formControlName="description" [value]="course ? course.description : null"></textarea>
      <small class="error-text"
        *ngIf="addCourseForm.controls.description.touched &&
        addCourseForm.controls.description.hasError('required')">
        Description is required!
      </small>
      <small class="error-text"
        *ngIf="addCourseForm.controls.description.touched &&
        !addCourseForm.controls.description.hasError('required') &&
        addCourseForm.controls.description.invalid">
          Description must be no longer than 500 symbols!
      </small>
    </div>
    <app-date-input [addCourseForm]="addCourseForm.controls.date" (type)="onDate($event)"></app-date-input>
    <app-duration-input [addCourseForm]="addCourseForm.controls.duration" (type)="onDuration($event)"></app-duration-input>
    <app-authors-component [addCourseForm]="addCourseForm.controls.authors" (check)="onCheck($event)"></app-authors-component>
    <div class="buttons-block">
      <a routerLink="/courses" type="reset" class="button button-cancel">Cancel</a>
      <button type="submit" class="button" [disabled]="!isFormValid || !addCourseForm.valid" (click)="onSubmit(addCourseForm)">Save</button>
    </div>
  </form>
</div>
