<div class="fill-height" *ngIf="addCourseForm">
  <form [formGroup]="addCourseForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <label>Title</label>
      <input formControlName="title" [ngClass]="{'red-border': addCourseForm.controls.title.errors}" />
      <small class="error-text"
        *ngIf="addCourseForm.controls.title.touched &&
        addCourseForm.controls.title.hasError('required')">
          Title is required!
      </small>
      <small class="error-text"
        *ngIf="addCourseForm.controls.title.touched &&
        !addCourseForm.controls.title.hasError('required') &&
        addCourseForm.controls.title.invalid">
          Title must be no longer than 50 symbols!
      </small>
    </div>
    <div class="row">
      <label>Description</label>
      <textarea formControlName="description"></textarea>
      <small class="error-text"
        *ngIf="addCourseForm.controls.description.touched &&
        addCourseForm.controls.description.hasError('required')">
        Description is required!
      </small>
      <small class="error-text"
        *ngIf="addCourseForm.controls.description.touched &&
        !addCourseForm.controls.description.hasError('required') &&
        addCourseForm.controls.description.invalid">
          Description must be no longer than 500 symbols!
      </small>
    </div>
    <app-date-input [addCourseForm]="addCourseForm" (type)="onDate($event)"></app-date-input>
    <app-duration-input [addCourseForm]="addCourseForm" (type)="onDuration($event)"></app-duration-input>
    <app-authors-component [addCourseForm]="addCourseForm" [selected]="selectedAuthors" (check)="onCheck($event)"></app-authors-component>
    <div class="buttons-block">
      <a routerLink="/courses" type="reset" class="button button-cancel" (click)=onReset()>Cancel</a>
      <button type="submit" class="button" [disabled]="!addCourseForm.valid">Save</button>
    </div>
    <pre>{{addCourseForm.value | json}}</pre>
    <pre>{{addCourseForm.valid | json}}</pre>
    <pre>{{checkValidationOfForm() | json}}</pre>
  </form>
</div>
