<div>
  <div class='row'>
    <label>Title</label>
    <input />
  </div>
  <div class='row'>
    <label>Description</label>
    <textarea></textarea>
  </div>
  <div class='row'>
    <label>Date</label>
    <input />
  </div>
  <div class='row'>
    <label>Duration</label>
    <input />
  </div>
  <div class='row'>
    <label>Authors</label>
  </div>
  <div>
    <button type='button' class='button button-cancel' (click)='{}'>Cancel</button>
    <button type='button' class='button' (click)='{}'>Save</button>
  </div>
</div>
