.div-wrapper > div {
  display: flex;
}

img {
  width: 50px;
  height: 65.5px;
  margin: 10px;
}

h1 {
  align-self: flex-end;
  margin-left: 20px;
  font-size: 2em;
  font-family: 'Handlee', cursive;
  color: #767676;
}

.user-login {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-right: 10px;
  font-family: 'Handlee', cursive;
  text-align: right;
}

.user-login > p {
  margin-bottom: 5px;
  color: #767676;
}

.user-login > a {
  color: #1C9ED3;
}