.div-wrapper > .flex > div {
  display: flex;
}

.flex {
  padding-bottom: 20px;
}

img {
  width: 50px;
  height: 65.5px;
  margin: 10px;
}

h1 {
  align-self: flex-end;
  margin-left: 20px;
  font-size: 2em;
  font-family: 'Handlee', cursive;
}

h1 > a {
  color: #767676;
  text-decoration: none;
}

.user-login {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-right: 10px;
  font-family: 'Handlee', cursive;
  text-align: right;
}

.user-login > p {
  margin-bottom: 5px;
  color: #767676;
}

.user-login > a {
  color: #1C9ED3;
}

.login {
  margin-top: 15px;
  margin-right: 10px;
  color: #1C9ED3;
  font-family: 'Handlee', cursive;
  text-align: right;
}

.breadcrumbs {
  margin-top: -20px;
  color: #767676;
  font-family: 'Handlee', cursive;
  text-decoration: none;
}

a.breadcrumbs {
  margin-left: 90px;
}

p.breadcrumbs {
  margin-left: 10px;
}