<div class="div-wrapper">
  <div class="flex">
    <div>
      <a routerLink="/courses"><img src="/assets/images/owl-logo.png" title="home" /></a>
      <h1><a routerLink="/courses">{{ title | titlecase }}</a></h1>
    </div>
    <div class="flex">
      <a routerLink="/courses" class="breadcrumbs" *ngIf="(isLogged | async)" (click)="this.courseService.editCourse$.next(null);">Courses</a>
      <p *ngIf="editedCourseName" class="breadcrumbs">-></p>
      <p class="breadcrumbs">{{editedCourseName}}</p>
    </div>
  </div>
  <div class="user-login" *ngIf="(isLogged | async); else login">
    <p>{{ username }}</p>
    <a routerLink="/login" (click)="onLogout()">logout</a>
  </div>
  <ng-template #login>
    <a routerLink="/login" class="login">login</a>
  </ng-template>
</div>
