<div class="div-wrapper">
  <div>
    <a routerLink="/courses"><img src="/assets/images/owl-logo.png" title="home" /></a>
    <h1><a routerLink="/courses">{{ title | titlecase }}</a></h1>
    <button type="button" class="button" *ngIf="(isLogged | async)">Courses</button>
  </div>
  <div class="user-login" *ngIf="(isLogged | async); else login">
    <p>{{ username }}</p>
    <a routerLink="/login" (click)="onLogout()">logout</a>
  </div>
  <ng-template #login>
    <a routerLink="/login" class="login">login</a>
  </ng-template>
</div>
