.course-wrapper {
  padding: 10px 10px 10px 15px;
  margin-bottom: 20px;
}

.topRated {
  background-color: #F2F3FE;
}

.course-info {
  flex: 1;
  width: 50%;
}

.row {
  justify-content: space-between;
  height: 60px;
}

.row,
.row-left {
  display: flex;
  align-items: center;
}

p {
  margin: 0;
}

h1 {
  width: 40vh;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 20px;
  font-size: 1.5em;
  font-family: 'Handlee', cursive;
  color: #767676;
  text-transform: capitalize;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.star {
  margin-left: 10px;
  margin-right: 50px;
  color: #2F3569;
  color: #2F3569;
}

.description {
  margin-top: 10px;
  font-family: 'Handlee', cursive;
  color: #767676;
  text-indent: 20px;
}

.course-buttons {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.button {
  width: 120px;
  margin: 5px;
}

.edit {
  white-space: nowrap;
}
