<div class='div-wrapper course-wrapper'>
  <div class='course-info'>
    <div class='row'>
      <div class='row-left'>
        <p>Video course</p>
        <h1>{{ course.name }}</h1>
        <p>{{ course.duration | hours }}</p>
      </div>
      <p>{{ course.date | date: 'd MMMM y' }}</p>
    </div>
    <p class='description'>{{ course.description }}</p>
  </div>
  <div class='course-buttons'>
    <button type='button' class='button edit' (click)='onEdit()'>Edit course</button>
    <button type='button' class='button' (click)='modal.show()'>Delete</button>

    <app-modal #modal>
      <div class='app-modal-body'>
        Are you sure you want to delete Video course {{course.name}}?
      </div>
      <div class='app-modal-footer'>
        <button type='button' class='button button-cancel' (click)='modal.hide()'>Cancel</button>
        <button type='button' class='button' (click)='onDelete()'>Delete</button>
      </div>
    </app-modal>
  </div>
</div>
