@import url('https://fonts.googleapis.com/css?family=Handlee|Ubuntu');

#wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
}

.div-wrapper {
  display: flex;
  justify-content: space-between;
  border: 1px solid #767676;
}

.button {
  align-self: center;
  margin-left: 30px;
  padding: 10px 15px;
  font-size: 1em;
  border: 1px solid #767676;
  border-radius: 4px;
  box-shadow: 0px 1px 4px #767676;
  outline: none;
  cursor: pointer;
}

.button-cancel {
  align-self: center;
  margin-left: 30px;
  padding: 10px 15px;
  font-size: 1em;
  background: none;
  border: 1px solid #767676;
  border-radius: 4px;
  box-shadow: 0px 1px 4px #767676;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background: #E7E7E7;
}

.button:active {
  background: #767676;
}